<div id="top-info" style="justify-content: center; display: flex; margin-bottom: 5mm;">
    <div>
        <p class="editable-text placeholder" contenteditable="true" spellcheck="false" data-placeholder="NAME" style="font-weight: bold; font-size: 18px; margin-bottom: 2px; color: #043579; text-transform: uppercase; line-height: 1 !important;">NAME</p>
        <div style="display: flex; width: 100%;">
            <table>
                 <tr>
                     <th>Address</th>
                     <td style="vertical-align: middle; display: flex; align-items: center;"><strong>:</strong> <p class="editable-text placeholder" style="line-height: 1 !important;" contenteditable="true" spellcheck="false" data-placeholder="Kuala Lumpur, Malaysia">Kuala Lumpur, Malaysia</p></td>
                 </tr>
                 <tr>
                     <th>Mobile</th>
                     <td style="vertical-align: middle; display: flex; align-items: center;"><strong>:</strong> <p class="editable-text placeholder" style="line-height: 1 !important;" contenteditable="true" spellcheck="false" data-placeholder="012-3456789">012-3456789</p></td>
                 </tr>
                 <tr>
                     <th>Email</th>
                     <td style="vertical-align: middle; display: flex; align-items: center;"><strong>:</strong> <p class="editable-text placeholder" style="line-height: 1 !important;" contenteditable="true" spellcheck="false" data-placeholder="abc123@gmail.com">abc123@gmail.com</p></td>
                 </tr>
                 <tr>
                     <th>LinkedIn</th>
                     <td style="vertical-align: middle; display: flex; align-items: center;"><strong>:</strong> <p class="editable-text placeholder" style="line-height: 1 !important;" contenteditable="true" spellcheck="false" data-placeholder="https://www.linkedin.com/in/alibaba">https://www.linkedin.com/in/alibaba</p></td>
                 </tr>
            </table>                       
        </div>
    </div>
 </div>
 
 <div id="objective" class="draggable-section section">
     <div class="section-title">
         <p>OBJECTIVE</p>
     </div>
     <p id="editable-text" class="editable-text placeholder" contenteditable="true" spellcheck="false" data-placeholder="Experienced Regional Office Manager with over 13 years of expertise in driving operational efficiency, client satisfaction, and strategic improvements across cross-functional teams, achieving measurable results in cost reduction, brand growth, , and personnel management.">
         Experienced Regional Office Manager with over 13 years of expertise in driving operational efficiency, client satisfaction, and strategic improvements across cross-functional teams, achieving measurable results in cost reduction, brand growth, , and personnel management.
     </p>
 </div>
 <div id="work-experience" class="draggable-section section">
     <div class="section-title" style="display: flex;">
         <p>WORK&nbsp;EXPERIENCE</p>
         <button class="add-button" data-tooltip="Add work-experience" onclick="addWorkExperience()"><i class="bi bi-plus-circle"></i></button>
         <button class="remove-button" data-tooltip="Remove section" onclick="removeWorkExperienceSection(this)"><i class="bi bi-x-circle"></i></button>
     </div>
     <div id="work1">
         <div style="display: flex; max-width: 100%; justify-content: space-between;">
             <div style="max-width: 70%; min-width: 70%;">
                 <p id="editable-text" class="editable-text placeholder" contenteditable="true" spellcheck="false" data-placeholder="Company" style="font-weight: bold;">Company</p>
             </div>
             <div class="date-container">
                <strong>(</strong>
                <div>
                    <span id="start-date-display" class="date-display">Start Date</span>
                    <input type="month" id="start-date" class="date-input">
                </div>
                <strong>-</strong>
                <div>
                    <span id="end-date-display" class="date-display">End Date</span>
                    <input type="month" id="end-date" class="date-input">
                </div>
                <strong>)</strong>
            </div>
            
         </div>
         <p id="editable-text" class="editable-text placeholder" contenteditable="true" spellcheck="false" data-placeholder="Job title">Job title</p>
         <ul class="ul" style="padding-left: 20px;">
             <li>
                 <p id="bullet-points-1-1" class="bullet-points placeholder" contenteditable="true" spellcheck="false" data-placeholder="Bullet point 1">Bullet point 1</p>
             </li>
             <li>
                 <p id="bullet-points-1-2" class="bullet-points placeholder" contenteditable="true" spellcheck="false" data-placeholder="Bullet point 2">Bullet point 2</p>
             </li>
             <li>
                 <p id="bullet-points-1-3" class="bullet-points placeholder" contenteditable="true" spellcheck="false" data-placeholder="Bullet point 3">Bullet point 3</p>
             </li>
             <button type="button" class="gpt-generate-btn" onclick="showGptGenerateForm(1)">AI Generate✨</button>
         </ul>
         <div class="gpt-generate-form" id="gpt-generate-form-1" style="display:none;">
             <div style="padding: 20px;">
                 <div class="form-header">
                     <button class="close-btn" onclick="closeGptForm(1)">✕</button>
                     <h1 style="font-size:30px; margin: 0;">Create work experience</h1>
                 </div>
                 <div class="form-group">
                     <label for="role">What was your role?</label>
                     <input type="text" class="role form-field" placeholder="e.g., Software Engineer">
                 </div>
         
                 <div class="form-group">
                     <label for="experience-summary">Your work experience in one sentence:</label>
                     <textarea class="experience-summary form-field" rows="2" placeholder="e.g., Led the development of a project to reduce manual tasks..."></textarea>
                 </div>
         
                 <div class="generate-btn-container">
                     <button type="button" class="generate-btn" onclick="generateExperience(1)"><i class="fa-solid fa-bolt"></i> Generate</button>
                 </div>
             </div>
     
             <div class="gpt-suggestions">
                 <div class="suggestion-options">
                     <p id="placeholder-message" style="color: #888;">Please enter your role and work experience above</p>
                     <!-- Generated suggestions with checkboxes will appear here -->
                 </div>
             </div>
         </div>
     </div>

     <!-- New Project Section with Padding -->
     <div class="project">
         <strong>Project:</strong> <span class="editable-text placeholder" contenteditable="true" spellcheck="false" data-placeholder="Project Name">Project Name</span>
         <ul style="padding-left: 20px;">
             <li><p class="bullet-points placeholder" contenteditable="true" spellcheck="false" data-placeholder="Project bullet point 1">Project bullet point 1</p></li>
             <li><p class="bullet-points placeholder" contenteditable="true" spellcheck="false" data-placeholder="Project bullet point 2">Project bullet point 2</p></li>
             <li><p class="bullet-points placeholder" contenteditable="true" spellcheck="false" data-placeholder="Project bullet point 3">Project bullet point 3</p></li>
         </ul>
     </div>
 </div>

 <div id="education" class="draggable-section section">
     <div class="section-title" style="display: flex;">
         <p>EDUCATIONAL&nbsp;BACKGROUND</p>
         <button class="add-button" data-tooltip="Add university" onclick="addUniversity()"><i class="bi bi-plus-circle"></i></button>
     </div>
     <div style="display: flex; max-width: 100%; justify-content: space-between;">
         <div style="max-width: 70%; min-width: 70%;">
             <p id="editable-text" class="editable-text placeholder" contenteditable="true" spellcheck="false" data-placeholder="University" style="font-weight: bold;">University</p>
         </div>
         <div class="date-container">
            <strong>(</strong>
            <div>
                <span id="start-date-display" class="date-display">Start Date</span>
                <input type="month" id="start-date" class="date-input">
            </div>
            <strong>-</strong>
            <div>
                <span id="end-date-display" class="date-display">End Date</span>
                <input type="month" id="end-date" class="date-input">
            </div>
            <strong>)</strong>
        </div>
        
        
     </div>
     <p id="editable-text" class="editable-text placeholder" contenteditable="true" spellcheck="false" data-placeholder="Degree">Degree</p>
 </div>


 <div id="skills" class="draggable-section section">
     <div class="section-title" style="display: flex;">
         <p>SKILLS</p>
         <button class="add-button" data-tooltip="Add skill" onclick="addSkillRow()"><i class="bi bi-plus-circle"></i></button>
     </div>
     <div class="skills-content">
         <div class="skill-row">
             <p class="editable-text placeholder skills-category" contenteditable="true" spellcheck="false" data-placeholder="Operations & Office Management">Operations & Office Management</p>
             <p class="editable-text placeholder skills-details" contenteditable="true" spellcheck="false" data-placeholder="Operations Management, Office Administration, Strategic Planning...">Operations Management, Office Administration, Strategic Planning...</p>
         </div>
         <div class="skill-row">
             <p class="editable-text placeholder skills-category" contenteditable="true" spellcheck="false" data-placeholder="Team & Personnel Management">Team & Personnel Management</p>
             <p class="editable-text placeholder skills-details" contenteditable="true" spellcheck="false" data-placeholder="Performance Review, Training & Development, etc.">Performance Review, Training & Development, etc.</p>
         </div>
         <div class="skill-row">
             <p class="editable-text placeholder skills-category" contenteditable="true" spellcheck="false" data-placeholder="Client & Service Management">Client & Service Management</p>
             <p class="editable-text placeholder skills-details" contenteditable="true" spellcheck="false" data-placeholder="Client Relationship Management, etc.">Client Relationship Management, etc.</p>
         </div>
         <div class="skill-row">
             <p class="editable-text placeholder skills-category" contenteditable="true" spellcheck="false" data-placeholder="Financial & Data Analysis">Financial & Data Analysis</p>
             <p class="editable-text placeholder skills-details" contenteditable="true" spellcheck="false" data-placeholder="Financial Reporting, Data Analysis, etc.">Financial Reporting, Data Analysis, etc.</p>
         </div>
         <div class="skill-row">
             <p class="editable-text placeholder skills-category" contenteditable="true" spellcheck="false" data-placeholder="Software">Software</p>
             <p class="editable-text placeholder skills-details" contenteditable="true" spellcheck="false" data-placeholder="Microsoft Office Suite, QuickBooks, etc.">Microsoft Office Suite, QuickBooks, etc.</p>
         </div>
         <div class="skill-row">
             <p class="editable-text placeholder skills-category" contenteditable="true" spellcheck="false" data-placeholder="Languages">Languages</p>
             <p class="editable-text placeholder skills-details" contenteditable="true" spellcheck="false" data-placeholder="English (Fluent), Spanish (Intermediate), etc.">English (Fluent), Spanish (Intermediate), etc.</p>
         </div>
     </div>
 </div>